<div class="container__main container__main_blue">
    <div class="container">
        <footer>
            <img class="footer__img__main" src="/img/elements/big-circle.svg" alt="footer-img">
            <a href="#"><img class="footer__logo" src="/img/elements/habat-white.svg" alt="footer-logo"></a>
            <div class="footer__block footer__block_first">
                <p class="footer__heading">Storitve</p>
                <p>Beljenje stanovanja ali hiše</p>
                <p>Pleskanje stanovanja ali hiše</p>
                <p>Glajenje in kitanje sten</p>
                <p>Barvanje fasad</p>
                <p>Delo na večjih objektih</p>
                <p>Pleskanje kovinskih ograj in nadstreškov</p>
                <p>Hidroizolacije teras</p>
                <p>Notranje hidroizolacije objektov</p>
            </div>
            <div class="footer__block footer__block_second">
                <p>Sanacija vlažnih zidov kletnih prostorov</p>
                <p>Postavitev pregradnih sten</p>
                <p>Montaža spuščenih stropovv Montaža raztegljivih stropov</p>
                <p>Oblaganje podstrešja</p>
                <p>Delo z industrijskimi tlaki</p>
                <p>Montaža pametnih sten piši-briši</p>
            </div>
            <div class="footer__block footer__block_third">
                <p class="footer__heading">Kontakt</p>
                <p>
                    Habat d.o.o. Ulica pod gozdom 14 1236 Trzin Slovenija
                </p>
                <div class="footer__contact">
                    <div class="footer__contact__tel">
                        <a href="tel:+041625519">041 625 519</a>
                    </div>
                    <div class="footer__contact__email">
                        <a class="yelloy_link" href="mailto:info@slikopleskarstvo-habat.si">info@slikopleskarstvo-habat.si</a>
                    </div>
                </div>
                <div class="facebook__logo">
                    <a href="#"><img src="/img/elements/rect.svg" alt="facebook"></a>
                    <p>Obiščite nas tudi na Facebooku</p>
                    <a href="#"><img class="fb__logo" src="/img/elements/facebook.svg" alt="facebook-img"></a>
                </div>
            </div>

            <div class="footer__rights">
                <p class="footer__rights__item_first">© Slikopleskarstvo Habat 1978-2020</p>
                <p class="footer__rights__item_second">Pogoji uporabe piškotkov Pravilnik o varstvu osebnih podatkov</p>
                <div class="footer__rights__logo">
                    <p class="footer__rights__item_third">Izdelava spletne strani in podpora</p>
                    <a href="#"><img src="/img/elements/logo.svg" alt=""></a>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/script/main.js"></script>
</body>
</html>