<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/main/fav.svg" type="image/svg">
    <title>HABAT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container__main">
    <div class="container">
        <header>
            <nav class="header__nav">
                <div class="header__nav__logo">
                    <a href="#"><img src="/img/main/logo.svg" alt="logo" class="logo"></a>
                </div>
                <div class="header__bunner">
                    <img src="/img/tabs/flag.svg" class="header__bunner__img" alt="flag">
                    <p class="header__bunner__item1">
                        Notranja in zunanja slikopleskarska<br> dela že več kot
                    </p>
                    <p class="header__bunner__item2">40 let</p>
                </div>
                <ul class="header__nav__ul">
                    <li><a href="#">Storitve</a></li>
                    <li><a href="#">Reference</a></li>
                    <li><a href="#">Koristne informacije</a></li>
                    <li><a href="#">O podjetju</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
                <div class="header__contact">
                    <div class="header__contact__tel">
                        <a class="header__contact__tel-link" href="tel:+041625519">041 625 519</a>
                    </div>
                    <div class="header__contact__email">
                        <a class="yelloy_link" href="mailto:info@slikopleskarstvo-habat.si">info@slikopleskarstvo-habat.si</a>
                    </div>
                    <button class="header__btn button_blue">Pošlji povpraševanje</button>
                </div>
                 <!-- burger-menu -->
                <div class="nav__hidden nav_burger">
                    <input type="checkbox" id="menu__toggle" />
                    <label class="menu__btn" for="menu__toggle">
                    <span></span>
                    </label>
                    <div class="menu__box">
                        <button class="header__btn_hidden">Pošlji povpraševanje</button>
                        <ul class="header__mobile__ul">
                            <li><a class="menu__item" href="#">Storitve</a></li>
                            <li><a class="menu__item" href="#">Reference</a></li>
                            <li><a class="menu__item" href="#">informacije</a></li>
                            <li><a class="menu__item" href="#">O podjetju</a></li>
                            <li><a class="menu__item" href="#">Kontakt</a></li>
                        </ul>
                        <div class="header__contact__mobile">
                            <div class="header__contact__tel ">
                                <a class="header__contact__tel-link" href="tel:+041625519">041 625 519</a>
                            </div>
                            <div class="header__contact__email">
                                <a href="mailto:info@slikopleskarstvo-habat.si">info@slikopleskarstvo-habat.si</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end burger-menu -->
            </nav>
        </header>
    </div>
</div>
    